<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

        .logo {
            font-size: 40px;
            font-family: "Dancing Script", cursive;
            font-weight: 700;
            text-align: center;
        }

        .name {
            color: #1890ff;
        }
    </style>
    <div>
        <div class="logo">Kinda Trello</div>
        <h1>
            Привет, <span class="name">{{.Name}}</span>
        </h1>
        <div>
            Для завершения регистрации пройдите по <a href="{{.Host}}/confirm?code={{.Code}}&email={{.Email}}" target="_blank">ссылке</a>
        </div>
    </div>
</body>
</html>